<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Additional package sources can be added here -->
  </packageSources>
  <config>
    <add key="http-timeout" value="100" />
    <!-- Additional configuration settings can be added here -->
  </config>
</configuration>